body { height: 100vh; }

#feedLoad {
  display: none;
  width: 4vw;
  height: 4vw;
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 4vw 4vw;
  background-position: left top;
  background-image: url("/public/img/default/hourglass.svg");
}

#feed {
  margin: auto;
/*  width: 76vw; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 130px;
}

.element {
  width: 24vw;
  min-width: 300px;            /*mobile adaptive*/
  max-width: 440px;
  height: 18vw;
  min-height: 225px;            /*mobile adaptive*/
  max-height: 330px;
  margin: 0.5vw;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 100%;
  background-position: center;
  border: 1px black solid;
  box-shadow: 5px 5px 6px #666666;
  -webkit-box-shadow: 5px 5px 6px #666666;
  -moz-box-shadow: 5px 5px 6px #666666;
}

.element:hover .elementData {
  display: block;
}

.elementData {
  width: 100%;
  height: 100%;
  min-width: 300px;            /*mobile adaptive*/
  min-height: 225px;            /*mobile adaptive*/
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
}

.elementData .likes {
  position: absolute;
  right: 0.2vw;
  top: 0.2vw;
  display: inline;
}

.elementData .likes input {
  width: 2vw;
  height: 2vw;

  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.unliked {
  background-image: url("/public/img/default/unliked.svg");
}

.unliked:hover {
  background-image: url("/public/img/default/unliked-hover.svg");
}

.liked {
  background-image: url("/public/img/default/liked.svg");
}

.elementData .username {
  text-align: center;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

.elementData .username a {
  font-weight: bold;
  color: white;
  font-size: 1.8vw;
  padding: 1vw;
}

.elementData .likes span {
  color: white;
  font-size: 1.8vw;
}

.delete {
  position: absolute;
  left: 0.2vw;
  top: 0.2vw;
  width: 2.0vw;
  height: 2.0vw;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-image: url("/public/img/default/delete.svg");
}

.delete:hover {
  background-image: url("/public/img/default/delete-hover.svg");
}

.elementData .elementTitle {
  font-size: 1.5vw;
  position: absolute;
  top: 3vw;
  overflow-wrap: break-word;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 2.2vw;
  max-height: 9vw;
  margin: auto;
}

.elementData .comments {
  position: absolute;
  color: white;
  bottom: 1vw;
  left: 1vw;
}

#post-window {
  width: 70vw;
  /*height: 40vw;*/
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  margin: auto;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 998;
  position: absolute;
  top: 50%;
  left: 15%;
}

#post-head {
  height: auto;
  position: relative;
  width: 100%;
}

#post-author-field {
  text-align: center;
}

#post-author {
  color: white;
  font-size: 25px;
  margin: 20px;
}

#post-description {
  color: white;
  margin: 20px;
  font-size: 25px;
  display: block;
  -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
  line-break: auto;
  overflow-wrap: break-word;
}

#post-data {
  display: inline-block;
  width: 30vw;
  position: relative;
}

#post-data span {
  margin-left: 1vw;
  margin-right: 1vw;
}

#post-image {
  width: 40vw;
  height: 30vw;
  display: block;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 100%;
  background-position: center bottom;
}

#close-post {
  height: 3vw;
  width: 3vw;
  max-height: 45px;
  max-width: 45px;
  padding: 0;
  margin: 0;
  background-image: url("/public/img/default/close.svg");
  position: absolute;
  top: 1vw;
  right: -3.5vw;
  cursor: pointer;
}

#post-likes {
  float: right;
}

#post-likes span {
  color: white;
  font-size: 25px;
}

#like-post {
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  float: right;
}

#like-post.unliked {
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#delete-post {
  width: 4vw;
  height: 4vw;
  padding: 0;
  cursor: pointer;
  display: inline;
  position: static;
  float: right;
  background-color: inherit;
}

#delete-post, #like-post {
  margin-left: 5px;
}

#close-post:hover {
  background-image: url("/public/img/default/close-hover.svg");
}

#overlay {
        background: #000;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 997;
        display: none;
}
  
#comment-form {
  width: 100%;
  height: 150px;
  display: block;
  position: relative;
  text-align: center;
}

#comment-form span {
  color: white;
  font-size: 25px;
}

#comment-form textarea {
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 1.3vw;
  color: white;
  border:solid 1px black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: none;
  padding-right: 5vw;
}

#post-comments-num {
  float: right;
  margin-right: 20px;
  color: white;
  font-size: 25px;
  text-align: right;
}

#add-comment {
  background-image: url("/public/img/default/add.svg");
  width: 4vw;
  height: 82% !important;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.5vw;
  right: 0.5vw;
}

#add-comment:hover {
  background-image: url("/public/img/default/add-hover.svg");
}

#post-comments {
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
}

.comment a {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  color: #fff;
}

.comment span {
  font-size: 20px;
  display: block;
  padding: 0.5vw;
  overflow-wrap: break-word;
}

.comment img {
  position: static;
  float: right;
  width: 2vw;
  height: 2vw;
  margin-top: 0.4vw;
}

.comment hr {
  border-top: 1px dashed white;
  width: 95%;
}

#middle-section {
  position: relative;
  height: 4vw;
}

/*
@media screen and (min-width: 2000px) {
  #feed {
    width: 95vw;
  }
}
*/

@media screen and (min-width: 1233px) {
  #feed {
    width: 95vw;
  }

  #delete-post, #add-comment, #like-post {
    width: 50px;
    height: 50px;
  }

  #add-comment {
    bottom: 5px;
    right: 5px;
  }

  #comment-form textarea {
    font-size: 18px;
    padding-right: 65px;
  }
}

@media screen and (max-width: 979px) {
  .element:hover .elementData {
    display: none;
  }
}

@media screen and (min-width: 612px) and (max-width: 1232px) {
  #post-image {
    width: 70vw;
    height: 52.5vw;
  }

  #post-data {
    width: 100%;
    height: 100%;
  }

  #close-post {
    top: -57vw;
  }

  #post-window {
    height: unset;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-data {
    width: 100%;
  }

  #comment-form textarea {
    font-size: 25px;
  }

  #post-comments {
    position: static;
  }

  #feed {
    width: 95vw;
  }

  .comment img {
    width: 40px;
    height: 40px;
  }
}



@media screen and (min-width: 100px) and (max-width: 611px) {
  #feed {
    width: 95vw;
    padding-bottom: 130px;
  }
  .element {
    width: 90vw;
    height: 67.5vw;
    max-width: none;
    max-height: none;
  }

  .element:hover .elementData {
    display: none;
  }

  #post-window {
    top: 100px !important;
    left: 5vw;
    width: 90vw;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-data {
    width: 100%;
  }

  #post-image {
    width: 90vw;
    height: 67.5vw;
  }

  #post-author {
    display: block;
    margin: 5px;
  }

  #delete-post, #add-comment, #like-post {
    width: 40px;
    height: 40px;
  }

  #post-author, #post-likes span, #post-comments-num {
    font-size: 30px !important;
  }

  #post-description {
    font-size: 15px;
    float: right;
    margin: 10px;
  }

  #post-data {
    width: 100%;
  }

  #post-head {
    text-align: center;
  }

  #post-likes {
    display: inline;
  }

  #comment-form {
    height: 100px;
  }

  #comment-form textarea {
    font-size: 15px;
    padding-right: 43px;
  }

  #post-comments {
    position: static;
    overflow-y: unset;
  }

  h1 {
    margin-bottom: 10px;
  }

  #close-post {
    display: none;
  }

  .comment img {
    width: 40px;
    height: 40px;
  }

}