#feedLoad {
  display: none;
  width: 4vw;
  height: 4vw;
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 4vw 4vw;
  background-position: left top;
  background-image: url("/public/img/default/hourglass.svg");
}

#feed {
  margin: auto;
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.element {
  width: 24vw;
  height: 18vw;
  margin-bottom: 1.5vw;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 100%;
  background-position: center;
  border: 1px black solid; 
}

.element:hover .elementData {
  display: block;
}

.elementData {
  width: 24vw;
  height: 18vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
}

.elementData .likes {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  display: inline;
}

.elementData .likes img {
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.unliked {
  background-image: url("/public/img/default/unliked.svg");
}

.unliked:hover {
  background-image: url("/public/img/default/unliked-hover.svg");
}

.liked {
  background-image: url("/public/img/default/liked.svg");
}

.elementData .username a {
  font-weight: bold;
  color: white;
  font-size: 2vw;
  padding: 1vw;
}

.delete {
  position: absolute;
  right: 1vw;
  top: 1vw;
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-image: url("/public/img/default/delete.svg");
}

.delete:hover {
  background-image: url("/public/img/default/delete-hover.svg");
}

.elementData .elementTitle {
  position: absolute;
  top: 3vw;
  padding: 1vw;
}

.elementData .comments {
  position: absolute;
  color: white;
  bottom: 1vw;
  left: 1vw;
}

#post-window {
  width: 50vw;
  height: auto;
  background-color: gray;
  margin: auto;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 998;
  position: absolute;
  top: 50%;
  left: 25%;
}

#post-window hr {
  color: white;
  background-color: white;
  height: 5px;
  vertical-align: top;
}

#post-author {
  color: white;
  font-size: 4vw;
  
  margin: 1vw;
}

#post-description {
  color: white;
  margin-top: 1.4vw;
  font-size: 2vw;
  display: block;
  word-break: break-all;
  -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto;
  line-break: auto; 
}

#post-data {
  display: inline-block;
  width: 50vw;
}

#post-image {
  width: 50vw;
  height: 37.5vw;
  display: inline-block;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 100%;
  background-position: center bottom;
}

#post-comments{
  width: 75vw;
}

#close-post {
  height: 3vw;
  width: 3vw;
  padding: 0;
  margin: 0;
  background-image: url("/public/img/default/close.svg");
  position: absolute;
  top: 1vw;
  right: -3.5vw;
  cursor: pointer;
}

#post-likes {
  float: right;
}

#post-likes span {
  padding-top: 2vw;
  color: white;
  font-size: 3vw;
}

#like-post {
  width: 4vw;
  height: 4vw;
  margin: 1vw;
  padding: 0;
  cursor: pointer;
  float: right;
}

#delete-post {
  width: 4vw;
  height: 4vw;
  margin: 1vw;
  padding: 0;
  position: static;
  cursor: pointer;
  float: right;
}

#close-post:hover {
  background-image: url("/public/img/default/close-hover.svg");
}

#overlay {
        background: #000;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 997;
        display: none;
}
  
#comment-form {
  width: 100%;
  display: block;
  position: relative;
}

#comment-form textarea {
  width: 98%; 
}

#add-comment {
  background-image: url("/public/img/default/add.svg");
  width: 4vw;
  height: 4vw;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
}

#add-comment:hover {
  background-image: url("/public/img/default/add-hover.svg");
}