#flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#frames, #onlays {
  width: 17vw;
  height: 33vw;
  overflow-y: scroll;
  visibility: hidden;
}

.frame, .onlay {
  width: 15vw;
  height: auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

#myOnlineCamera {
  overflow: auto;
  position: relative;
  width: 45vw;
}

#myOnlineCamera video, canvas, #video-error {
  width: 44vw;
  height: 33vw;
  margin: auto;
  display: none;
}

canvas {
  position: absolute; left: 0; top: 0; z-index: 0;
}

#onlay-canvas {
  z-index: 1;
}

#video-error {
  background-color: gray;
  color: white;
  font-size: 2vw;
  cursor: pointer;
}



#snapShot {
  height: 36.6vw;
  width: auto;
  max-width: 65vw;
  margin: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
  position: absolute;
  bottom: 10%;
	z-index: -1;
}

.buttons {
  clear: both;
  border: none;
  width: 4vw;
  height: 4vw;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 4vw 4vw;
  background-position: left top;
  cursor: pointer;
  display: none;
  bottom: 10%;
  z-index: 5;
}

#description {
  width: 44vw;
  display: none;
}

#okBtn, #cancelBtn {
  background-color:rgba(0, 0, 0, 0.2);
}

#photoBtn, #loadBtn {
  border-radius: 0%;
}

#photoBtn {
  left: 41%;
  background-image: url("/public/img/default/photo.svg");
}

#loadBtn {
  left: 56%;
  background-image: url("/public/img/default/load.svg");
}

#okBtn {
  left: 41%;
  background-image: url("/public/img/default/ok.svg")
}

#cancelBtn {
  left: 56%;
  background-image: url("/public/img/default/cancel.svg")
}

#photoBtn:hover {
  background-image: url("/public/img/default/photo-hover.svg");
}

#loadBtn:hover {
  background-image: url("/public/img/default/load-hover.svg");
}

#okBtn:hover {
  background-image: url("/public/img/default/ok-hover.svg")
}

#cancelBtn:hover {
  background-image: url("/public/img/default/cancel-hover.svg")
}