#main-frame {
  margin: auto;
  width: 70vw;
  background-color: #A1A1A1;
}

.buttons {
  clear: both;
  border: none;
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: 4vw 4vw;
  background-position: left top;
  cursor: pointer;
  display: inline;
}

.ok {
  border-radius: 50%;
  background-image: url("/public/img/default/right-arrow.svg");
}

.ok:hover {
  border-radius: 50%;
  background-image: url("/public/img/default/right-arrow-hover.svg");
}



.checked {
  background-image: url("/public/img/default/checked.svg");
}

.checked:hover {
  background-image: url("/public/img/default/checked-hover.svg");
}

.unchecked {
  background-image: url("/public/img/default/unchecked.svg");
}

.unchecked:hover {
  background-image: url("/public/img/default/unchecked-hover.svg");
}

.settings-block {
  margin: auto;
  width: 70%;
}

.hint {
  color: red;
  height: 2vw;
}