.settings-form {
  width: 60vw;
  max-width: 500px;
  position: static;
  margin: auto;
/*  left: 20vw;
  top: 10vw;
 */
}

h2, h3 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing:1px;
  text-align:center;
}

.hint {
  font-size: 14px;
}

a {
  color: #fff;
}

.buttons {
  clear: both;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #E7E5E5;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: left top;
  cursor: pointer;
  display: inline;
}

.ok {
  border-radius: 50%;
  background-image: url("/public/img/default/right-arrow.svg");
}

.ok:hover {
  border-radius: 50%;
  background-image: url("/public/img/default/right-arrow-hover.svg");
}



.check {
  background-image: url("/public/img/default/checked.svg");
}

.check:hover {
  background-image: url("/public/img/default/checked-hover.svg");
}

.uncheck {
  background-image: url("/public/img/default/unchecked.svg");
}

.uncheck:hover {
  background-image: url("/public/img/default/unchecked-hover.svg");
}

.settings-block {
  margin: auto;
  width: 70%;
}

.hint {
  color: red;
}